@use '@angular/material' as mat;

@mixin theme($theme) {
  app-navbar {
    color: mat.get-theme-color($theme, secondary);

    .navbar, .navbar-header {
      background: mat.get-theme-color($theme, secondary-container);

      .navbar-header-item-selected {
        background: rgba(mat.get-theme-color($theme, secondary), 0.1);
      }
    }
  }
}
