<nav class="navbar-header flex flex-wrap items-center p-3 m-1 rounded-lg" aria-label="Top Toolbar">
  <a mat-button routerLink="/" aria-label="Access Hub Home">
    Home
  </a>

  <a mat-button routerLink="contribute"
     routerLinkActive="navbar-header-item-selected">
    Contribute
  </a>

  <div class="flex-grow"></div>


  @if (user(); as user) {

    <button mat-button [matMenuTriggerFor]="accountMenu">
      <span>{{ user.firstName }} {{ user.lastName }}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #accountMenu="matMenu" >
      <button mat-menu-item routerLink="account/listings">
        <mat-icon>apps</mat-icon>
        <span>My Listings</span>
      </button>
      <button mat-menu-item routerLink="account/reviews">
        <mat-icon>reviews</mat-icon>
        <span>My Reviews</span>
      </button>
      <button mat-menu-item (click)="manageAccount()">
        <mat-icon>manage_accounts</mat-icon>
        <span>Manage Account</span>
      </button>
      @if (role() === Role.ADMIN) {
        <button mat-menu-item routerLink="admin"
                routerLinkActive="navbar-header-item-selected"
        >
          <mat-icon>admin_panel_settings</mat-icon>
          Admin
        </button>
      }
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Sign Out</span>
      </button>
    </mat-menu>
  } @else if (isLoaded()) {
    <a mat-button (click)="login()">
      Log In
    </a>
  }
</nav>
