<nav class="navbar-header flex flex-wrap items-center p-3 m-1 rounded-lg" aria-label="Top Toolbar">
  <a mat-button routerLink="/" aria-label="Access Hub Home">
    Home
  </a>
  <div class="flex-grow"></div>
  <a mat-button routerLink="admin"
     routerLinkActive="navbar-header-item-selected"
  >
    Admin
  </a>

  @if (user(); as user) {
    <span>Logged in as {{user.firstName}} {{user.lastName}}</span>
    <a mat-button routerLink="login"
       (click)="logout()"
    >
      Sign Out
    </a>
  } @else {
    <a mat-button routerLink="login"
       (click)="login()"
    >
      Login
    </a>
  }

  <a mat-button routerLink="contribute"
     routerLinkActive="navbar-header-item-selected">
    Contribute
  </a>
</nav>
