@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
@use './app-theme';
@use './styles/general';

@tailwind utilities;

$light-theme: matx.define-theme(
  (
    color: (
      theme-type: light,
      primary: matx.$m3-cyan-palette,
      tertiary: matx.$m3-orange-palette,
    ),
    typography: (
      plain-family: 'Roboto',
      brand-family: 'Work Sans'
    ),
    density: (
      scale: 0,
    ),
  )
);

@include mat.core();
@include app-theme.theme($light-theme);
@include matx.color-variants-back-compat($light-theme);

:root {
  @include mat.all-component-themes($light-theme);
  @include mat.all-component-typographies($light-theme);
}
