<div class="flex flex-col mx-1">
  <div class="contribute-header rounded-lg">
    <div class="contribute-header-headline">
      <h1 class="mat-h1">Contribute to Access Hub</h1>
      <h2>Learn about how you can help make the world more accessible</h2>
      <button mat-flat-button color="primary" routerLink="list-an-app">
        List an App
      </button>
    </div>
  </div>

  <div class="p-4 flex flex-col items-center">
    <h3>How you can help contribute</h3>
    <mat-accordion class="flex-grow" multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Suggest an App</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Have you come across an app that has been particularly helpful for managing a disability or improving accessibility? Share it with us! By suggesting apps, you help us ensure our directory remains comprehensive and up-to-date. Simply fill out our suggestion form with details about the app, and our team will review it for inclusion in the directory. Your suggestions help us serve a broader range of needs, making valuable tools more accessible to everyone who needs them.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Fund an App</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Support developers who are creating innovative solutions to accessibility challenges by funding their projects. Through our platform, you can contribute financially to the apps you believe in. This not only helps maintain and enhance these apps but also encourages the development of new solutions. Look for the funding options on app pages and choose to make a difference.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Review an App</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Your feedback is invaluable! Review apps you have used to help others in the community make informed decisions. Whether it’s a thumbs up or constructive criticism, your reviews shape the future of the apps in our directory and help developers improve. To leave a review, simply visit an app’s page on our site and submit your thoughts and ratings.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>List an App</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          If you're a developer or you've come across a great app that deserves more visibility, list it in our directory. Our platform is designed to connect impactful apps with users who will benefit the most. Complete our listing form with the necessary app details, and we will handle the rest. By listing an app, you help bridge the gap between innovative solutions and the community members who need them most.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

