<div class="p-2">
  <h2>Entities</h2>
  <div class="flex gap-2">
    <mat-card routerLink="entities/app">
      <mat-card-content>
        <mat-card-title>Apps</mat-card-title>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content routerLink="entities/category">
        <mat-card-title>Categories</mat-card-title>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content routerLink="entities/developer">
        <mat-card-title>Developers</mat-card-title>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content routerLink="entities/platform">
        <mat-card-title>Platforms</mat-card-title>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content routerLink="entities/review">
        <mat-card-title>Reviews</mat-card-title>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content routerLink="entities/user">
        <mat-card-title>Users</mat-card-title>
      </mat-card-content>
    </mat-card>
  </div>
  <h2>Tools</h2>
</div>
