<div class="flex flex-row h-full mx-1">
  @if (
    (isScreenSmall | async) === false
    ||
    this.router.isActive('admin', matchOptions)
  ) {
    <div class="nav-menu-outer-container pb-1"
         [ngClass]="(isScreenSmall | async) === true ? 'flex-grow' : 'pr-1'"
    >
      <div class="nav-menu-inner-container rounded-lg">
        <app-admin-nav></app-admin-nav>
      </div>
    </div>
  }
  @if (
    (isScreenSmall | async) === false
    ||
    !this.router.isActive('admin', matchOptions)
  ) {
    <div class="flex-grow h-full overflow-y-scroll">
      <router-outlet></router-outlet>
    </div>
  }
</div>
