<mat-sidenav-container class="flex">
  @if (isScreenSmall | async) {
    <mat-sidenav
      #sidenav
      [opened]="(isScreenSmall | async) === false"
      [mode]="(isScreenSmall | async) ? 'over' : 'side'"
      [fixedInViewport]="(isScreenSmall | async)"
      [fixedTopGap]="(isExtraScreenSmall | async) ? 92 : 56"
    >
      <app-admin-nav></app-admin-nav>
    </mat-sidenav>
  }

  <div class="admin-sidenav-content">

    <header class="admin-page-header">
      <button mat-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
        Menu
      </button>
    </header>

    <div class="admin-sidenav-inner-content">
      <main class="admin-sidenav-body-content">
        @if ((isScreenSmall | async) === false) {
          <app-admin-nav></app-admin-nav>
        }
        <div class="flex-grow mx-1 rounded">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
  </div>

</mat-sidenav-container>
